<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="container" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <li class="nav-item dropdown">

                <a class="navbar-brand" th:href="@{/admin/home}">ADMIN - COURSE ONLINE</a>
                <div  class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Option</h1>
                                <a class="btn-close" th:href="@{/admin/home}"></a>
                            </div>
                            <div id="modal_body" class="modal-body">
                                <form style="padding-bottom: 15px;" th:action="@{/destroy}" method="POST">
                                    <button style="width: 100%;" type="submit" class="btn btn-dark">Destroy</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul id="list_nav_link" class="navbar-nav"  >
                </ul>
                <ul id="list_nav_dropdown" class="navbar-nav" >
                </ul>

                <ul class="navbar-nav" >

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/home}">HOME</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>



</div>

<div class="container" th:fragment="footer">
    <hr>
    <footer>
        © 2024 Course online, Inc.
    </footer>
</div>

</body>
</html>